/target
/.idea
/*.iml
application.pid
*~
*.log
*.tmp
*.tmp.*
*.iml
log.txt
.idea/
.tmp/
.versions/
coverage/
dist/
tmp/
temp/
**/Livraison/
**/.settings/
**/.classpath
**/.project
**/target/
**/*.pid
**/node_modules/
/.metadata/
/.recommenders/

